<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<head>
<meta charset="utf-8" />
<title>Listes Contrats</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<script type="text/javascript" src="../static/js/scripts.js"
	th:src="@{js/scripts.js}"></script>
</head>
<body>
	<div layout:fragment="content">

		<div class="col-md-10">
			<div class="panel panel-primary" style="margin-left: 20%">
				<div class="pannel panel-heading">Chercher Contrat</div>
				<div class="panel-body">
					<form class="form-inline" th:action="@{consulterContrat}"
						method="get">
						<a th:href="@{formcontrat}" class="btn btn-primary">Ajouter
							Contrat</a> <input type="text" name="mc" class="form-control"
							placeholder="Reference" th:value="${mc}" />
						<button class="btn btn-primary">Chercher</button>
						<a th:href="@{/formDetails}" class="btn btn-primary"
							style="margin-left: 35%">Ajouter_Detail</a>
					</form>

				</div>
			</div>
			<!-- </div> -->
			<!-- <div class="col-md-6"> -->
			<div class="panel panel-primary" style="margin-left: 20%">
				<div class="pannel panel-heading">Liste Contrat</div>
				<div class="panel-body">
					<table class="table table-striped">
						<tr>
							<!-- <th>Reference</th> -->
							<th>Date_debut</th>
							<th>Date_fin</th>
							<!-- <th>Service</th> -->
							<th>Assure</th>
							<th>Souscripteur</th>
							<th>Apporteur</th>
							<th>Modifier</th>
							<th>Supprimer</th>

						</tr>

						<tr th:each="c:${listContrats}">
							<!-- <td th:text="${c.referance}"></td> -->
							<td th:text="${c.dateDebut}"></td>
							<td th:text="${c.dateFin}"></td>
							<!-- <td th:text="${c.vehicule.typeService}"></td> -->
							<td th:text="${c.assure.prenomAssure+' '+c.assure.nomAssure}"></td>
							<td
								th:text="${c.souscripteur.prenomSouscripteur+' '+c.souscripteur.nomSouscripteur}"></td>
							<td th:text="${c.apporteur?.prenomApp+' '+c.apporteur?.nomApp}"></td>
							<td><a th:href="@{editupdate(idContrat=${c.idContrat})}"
								class="btn btn-primary">Edit</a></td>
							<td><a onclick="return confirm('Etes vous sure?')"
								th:href="@{deletecontrat(idContrat=${c.idContrat},
page=${pageCourante},size=${size},mc=${mc})}"
								class="btn btn-primary">Delete</a></td>
						</tr>
					</table>
					<ul class="nav nav-pills">
						<li th:class="${pageCourante}==${status.index}?'active':''"
							th:each="pa,status:${pages}"><a
							th:href="@{/consulterContrat(page=${status.index},size=${size},mc=${mc})}"
							th:text="${status.index}"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>


