<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<head>
<meta charset="utf-8" />
<title>Apporteur</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div layout:fragment="content">
		<div class="col-md-6">
			<div class="panel panel-primary" style="margin-bottom: 10%; margin-top: 3%; margin-left: 60%; margin-right: 10%; width: 100%">
					<div class="panel panel-heading">Ajouter un Apporteur</div>
					<div class="panel-body">
						<form th:action="@{saveApporteur}" method="post"
							modelAttribut="apporteur" class="form-horizontal">
							<div class="form-group">
								<label class="control-label col-sm-2" for="codeApp"><h10>Code</h10>:</label>
								<div class="col-sm-10">
									<input class="form-control" id="codeApp" placeholder="codeApp"
										type="text" name="codeApp" th:value="${apporteur?.codeApp}" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="nomApp">Nom:</label>
								<div class="col-sm-10">
									<input class="form-control" id="nomApp" placeholder="nomApp"
										type="text" name="nomApp" th:value="${apporteur?.nomApp}" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="prenomApp">Prenom:</label>
								<div class="col-sm-10">
									<input class="form-control" id="prenomApp"
										placeholder="prenomApp" type="text" name="prenomApp"
										th:value="${apporteur?.prenomApp}" />

								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="adresseApp">Adresse:
								</label>
								<div class="col-sm-10">
									<input class="form-control" id="adresseApp"
										placeholder="adresseApp" type="text" name="adresseApp"
										th:value="${apporteur?.adresseApp}" />

								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-2" for="telephoneApp">Telephone:
								</label>
								<div class="col-sm-10">
									<input class="form-control" id="telephoneApp"
										placeholder="telephoneApp" type="text" name="telephoneApp"
										th:value="${apporteur?.telephoneApp}" />

								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-2" for="mailApp">Mail:
								</label>
								<div class="col-sm-10">
									<input class="form-control" id="mailApp" placeholder="mailApp"
										type="mail" name="mailApp" th:value="${apporteur?.mailApp}" />

								</div>
							</div>


							<div>
								<button type="submit" class="btn btn-primary"
									style="text-align: center; margin-left: 50%">Enregistrer</button>
								<button type="reset" class="btn btn-primary">Annuler</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			</div>
</body>
</html>