<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<head>
<meta charset="utf-8" />
<title>Listes Prets</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
	<script type="text/javascript" src="../static/js/scripts.js"
	th:src="@{js/scripts.js}"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="col-md-10">
			<div class="panel panel-primary" style="margin-left: 20%">
		<!-- <div class="panel panel-default" style="margin-bottom: 10%;margin-top: 3%;margin-left: 60%;margin-right: 10%;width: 100%"> -->
			<div class="panel panel-heading">Chercher Habitation</div>
			<div class="panel-body">
			<form class="form-inline" th:action="@{index5}" method="get">
			<a th:href="@{formhabitation}" class="btn btn-primary">Ajouter
					Habitation</a> 
				 <input type="text" name="mc"
					class="form-control" placeholder="Adresse"
					th:value="${mc}" />
				<button class="btn btn-primary">Chercher</button>
			</form>
		 </div>
		 </div>
		 <!-- </div>
		 <div class="col-md-6"> -->
		 <div class="panel panel-primary" style="margin-left: 20%">
		 <div class="pannel panel-heading">Liste Habitation</div>
		 <div class="panel-body">
		 <table class="table table-striped">
		 				<tr>
							<th>Adresse</th>
							<th>Superficie</th>
							<th>Montant_Acquisition</th>
							<th>Type_Batiment</th>
							<th>Nombre_Piece</th>
							<th>Modifier</th>
							<th>Supprimer</th>

						</tr>
						<tr th:each="h:${listHabits}">
						<td th:text="${h.adresse}"></td>
						<td th:text="${h.superficie}"></td>
						<td th:text="${h.mtnAcquisition}"></td>
						<td th:text="${h.typeBatiment}"></td>
						<td th:text="${h.nbrePiece}"></td>
						<td><a
							th:href="@{editupdate(idService=${h.idService})}"
							class="btn btn-primary" id="edit" onclick="return confirm('Etes vous sure?')" >Edit</a></td>
						<td><a onclick="return confirm('Etes vous sure?')"
							th:href="@{delete(idService=${h.idService},
page=${pageCourante},size=${size},mc=${mc})}"
							class="btn btn-primary">Delete</a></td>
					</tr>
					
		 </table>
		 
				<ul class="nav nav-pills">
					<li th:class="${pageCourante}==${status.index}?'active':''"
						th:each="pa,status:${pagesss}"><a
						th:href="@{/index5(page=${status.index},size=${size},mc=${mc})}"
						th:text="${status.index}"></a></li>
				</ul>
			</div>
		 </div>
		 </div>
				
		</div>
</body>
</html>



